
#pin2ucf - Mon Dec 28 18:56:31 2009
#The following constraints were newly added
NET "FPGA_CLK" LOC = P57;
NET "FPGA_GPIO_0" LOC = P41;
NET "FPGA_GPIO_1" LOC = P42;
NET "FPGA_GPIO_2" LOC = P43;
NET "FPGA_GPIO_3" LOC = P44;
NET "FPGA_GPIO_4" LOC = P45;
NET "FPGA_GPIO_5" LOC = P46;
NET "FPGA_GPIO_6" LOC = P47;
NET "FPGA_GPIO_7" LOC = P48;
NET "FPGA_GPIO_8" LOC = P49;
NET "FPGA_GPIO_9" LOC = P50;
NET "FPGA_PHA1" LOC = P102;
NET "FPGA_PHA2" LOC = P104;
NET "FPGA_PHA3" LOC = P101;
NET "FPGA_PHA4" LOC = P98;
NET "FPGA_PHB1" LOC = P103;
NET "FPGA_PHB2" LOC = P105;
NET "FPGA_PHB3" LOC = P99;
NET "FPGA_PHB4" LOC = P96;
NET "FPGA_RESET_n" LOC = P70;
NET "FPGA_SERVO_0" LOC = P3;
NET "FPGA_SERVO_1" LOC = P4;
NET "FPGA_SERVO_2" LOC = P5;
NET "FPGA_SERVO_3" LOC = P6;
NET "FPGA_SERVO_4" LOC = P7;
NET "FPGA_SERVO_5" LOC = P8;
NET "FPGA_SERVO_6" LOC = P10;
NET "FPGA_SERVO_7" LOC = P11;
NET "FPGA_SERVO_8" LOC = P12;
NET "FPGA_SERVO_9" LOC = P13;
NET "LED1" LOC = P78;
NET "LED2" LOC = P75;
NET "PIC_INT1" LOC = P135;
NET "PIC_PMP_PMALH" LOC = P129;
NET "PIC_PMP_PMALL" LOC = P130;
NET "PIC_PMP_PMCS2" LOC = P126;
NET "PIC_PMP_PMD[0]" LOC = P117;
NET "PIC_PMP_PMD[1]" LOC = P116;
NET "PIC_PMP_PMD[2]" LOC = P115;
NET "PIC_PMP_PMD[3]" LOC = P114;
NET "PIC_PMP_PMD[4]" LOC = P113;
NET "PIC_PMP_PMD[5]" LOC = P112;
NET "PIC_PMP_PMD[6]" LOC = P111;
NET "PIC_PMP_PMD[7]" LOC = P110;
NET "PIC_PMP_PMRD" LOC = P124;
NET "PIC_PMP_PMWR" LOC = P125;
NET "FPGA_CLK" TNM_NET = FPGA_CLK;
TIMESPEC TS_FPGA_CLK = PERIOD "FPGA_CLK" 50 ns HIGH 50 %;
NET "FPGA_CLK" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_0" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_1" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_2" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_3" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_4" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_5" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_6" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_7" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_8" IOSTANDARD = LVTTL;
NET "FPGA_GPIO_9" IOSTANDARD = LVTTL;
NET "FPGA_PHA1" IOSTANDARD = LVTTL;
NET "FPGA_PHA2" IOSTANDARD = LVTTL;
NET "FPGA_PHA3" IOSTANDARD = LVTTL;
NET "FPGA_PHA4" IOSTANDARD = LVTTL;
NET "FPGA_PHB1" IOSTANDARD = LVTTL;
NET "FPGA_PHB2" IOSTANDARD = LVTTL;
NET "FPGA_PHB3" IOSTANDARD = LVTTL;
NET "FPGA_PHB4" IOSTANDARD = LVTTL;
NET "FPGA_RESET_n" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_0" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_1" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_2" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_3" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_4" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_5" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_6" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_7" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_8" IOSTANDARD = LVTTL;
NET "FPGA_SERVO_9" IOSTANDARD = LVTTL;
NET "LED1" IOSTANDARD = LVTTL;
NET "LED2" IOSTANDARD = LVTTL;
NET "PIC_INT1" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMALH" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMALL" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMCS2" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMD[0]" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMD[1]" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMD[2]" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMD[3]" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMD[4]" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMD[5]" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMD[6]" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMD[7]" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMRD" IOSTANDARD = LVTTL;
NET "PIC_PMP_PMWR" IOSTANDARD = LVTTL;
